html,
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Allow vertical scroll if needed, but should be minimal */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Avenir */
@font-face {
  font-family: "Avenir";
  src: url("../Fonts/avenir/Avenir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../Fonts/avenir/Avenir-Book.ttf") format("truetype");
  font-weight: 400; /* book */
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../Fonts/avenir/Avenir-Roman.ttf") format("truetype");
  font-weight: 500; /* roman */
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../Fonts/avenir/Avenir-Medium.ttf") format("truetype");
  font-weight: 600; /* medium */
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../Fonts/avenir/Avenir-Heavy.ttf") format("truetype");
  font-weight: 800; /* heavy */
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../Fonts/avenir/Avenir-Black.ttf") format("truetype");
  font-weight: 900; /* black */
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/montserat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/montserat/Montserrat-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Fonts/montserat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-arrow {
  position: absolute;
  top: 100px; /* Adjust to center vertically with the larger image */
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  color: #333;
  background: transparent;
  border: none;
  padding: 0;
}

.custom-arrow:hover {
  color: black;
}

.prev-arrow {
  left: -40px; /* Move further out */
}

.next-arrow {
  right: 40px; /* Move further out */
}

.slick-disabled {
  opacity: 0.3;
  cursor: default;
}

.slider-thumb::-webkit-slider-runnable-track {
  height: 12px;
  background-color: #e5e7eb; /* light grey */
  border-radius: 8px;
}

.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #9ca3af; /* darker grey */
  height: 10px;
  width: 160px; /* wider thumb */
  border-radius: 8px;
  cursor: pointer;
}

.slider-thumb::-moz-range-track {
  height: 12px;
  background-color: #e5e7eb;
  border-radius: 8px;
}

.slider-thumb::-moz-range-thumb {
  background-color: #9ca3af;
  height: 10px;
  width: 160px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.slick-arrow::before {
  display: none !important;
}

:root {
  --color-yellow-gold: #e6ca97;
  --color-white-gold: #d9d9d9;
  --color-rose-gold: #e1a4a9;
}
